* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #800915;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #C40C0C;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #C40C0C;
    margin-bottom: 10px;
}

header p {
    color: #555;
}

nav {
    background-color: #fff;
    border-bottom: 2px solid #C40C0C;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: red;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid red;
    display: inline-block;
    padding-bottom: 5px;
}

.candidates {
    display: flex;
    justify-content: space-between;
}

.candidates label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.candidates img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.candidate-info {
    text-align: center;
}

.candidates input {
    margin-bottom: 10px;
}

.candidates label:hover {
    background-color: #f1f1f1;
    border-color: red;
}

.submit-button {
    text-align: center;
}

.submit-button button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button button:hover {
    background-color: darkred;
}
